@import "../../Styling/variable";
.parent {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3px;
  background-color: $first-color !important;

  .child {
    height: 100%;
    background-color: red;
  }
}

