@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
@import './Styling/_variable.scss';


@import  '../src/varubls/varr';

@import './Componant/Spninner/spinner.scss';
@import './login.scss';




body {
  margin: 0;
  font-family: "Tajawal", sans-serif;
  direction: rtl;
  box-sizing: border-box;
  // background-color: $third-color;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.dropdown:hover>.dropdown-menu {
  display: block;
  border: 1px solid black;
}
.navbartwo{

  width: 150px;
  
}
.whateee{
  width: 300px;
  margin-left: 100px !important;
}
.iconone {

  color: red;

}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.iconnn{

font-size: larger;
}
.iconnn:hover{

  color: white;
color: blue;
}
.ahmed{
display: flex;
justify-content: space-between;
overflow: hidden;
}
.left{

  padding: 10px;
}
.iconshopping{

  font-size: xx-large;
margin-left: 50px;

}
.iconshopping:hover{

color: blue;
border-radius:10px;
}

.dropdown-toggle:hover{
  border-radius: 10% !important;
  border: 1px solid  blue !important;
  margin-left: 20px;
  margin-right: 20px;

}
.dropdown-toggle{
  margin-left: 30px !important;
  margin-right: 20px !important;
}




.icontwo{
color: cadetblue;
}
.iconthrees{
color: brown;
}
.iconfour{
color: chocolate;
}
.iconfive{
color: darkgreen;
}
.iconseven{
color: darkorchid;
}
.iconeight{
color: dodgerblue;
}
.iconnine{
color: darkcyan;
}
.iconeleven{

color: crimson;
}

.father{

  background-color: grey;

  .child{

    color: burlywood;
    margin-top: 10px;
    text-align: center;
    // background-color: black;
    font : {
     
      size: 50px;
   
    }
  }
}

@for $i from 1 through 7 {

  .child#{ $i }{
background-color: aqua !important;

  }
}

$fonts :  'one' 20 red ,'two' 30px green , 'three' 40px yellow, 'four' 20 orange ;

@each $class , $size ,$color in $fonts{

  .#{$class}{
    font-size: $size ;
    color : $color;
  }
}




%classahmed {
color: red;
background-color: azure;
padding: 10px;
margin: 10px;
text-align: center;

}



@mixin trayangel{
  display: flex;
  align-items: center;
  justify-content: center;
  
} 

@mixin lala( $width){

@include trayangel;
width: $width;
height: $width;
}

@mixin asasas(){

  @include lala(200)

}
